h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    white-space: initial;
}

.shrink{
    transform: scale(0.8);
}

.grow{
    transform: scale(1);
}


.remove{
    display: none;
}

.hide{
    visibility: hidden;
}

